<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ name }} - Profile
        </title>
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
    </head>
    <body class="body-color">
        {% if name %}
            <h1>Hello, {{ name }}</h1>
            <br>
        {% if college %}
            <h1>I hope you are studying in {{college}}.</h1>
        {%else %}
        {% endif %}
        {% else %}
            <h1>Hello, there!</h1>
        {% endif %}    
    </body>
</html>