<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ name }} - Profile
        </title>
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
    </head>
    <bod[y class="body-color">
        {% if name %}
            <h1>Name:  {{ name }}</h1>
        {% if college %}
            <h1>College:  {{college}}.</h1>
        {%else %}
        {% endif %}
        {% if native %}
            <h1>Place: {{native}}</h1>
        {%else%}
        {%endif%}
        {% else %}
            <h1>Hello, there!</h1>
        {% endif %}    
    </body>
</html>